# Workspace config
.vs/
.vscode/
.vscode-test/
.github/

# Source code
out/
src/

# Modules
node_modules/

# YAML files
snippets/*.yaml
syntaxes/*.yaml
language-configuration.yaml
appveyor.yml

# Compiled config
**/tsconfig.json
**/tslint.json
**/.eslintrc.json
webpack.config.js
.yarnrc

# Uncompiled files
**/*.map
**/*.ts

# Git Ignore file
.gitignore

# Packaged extensions
*.vsix

# Log file
*.log
