# Workspace config
.vs/
.vscode/
.github/
.git/

# Test
.vscode-test/
.vscode-test-web/
**/test/

# Source code
out/
src/

# Modules
node_modules/

# YAML files
snippets/*.yaml
syntaxes/*.yaml
language-configuration.yaml

# Compiled config
**/tsconfig.json
**/tslint.json
**/.eslintrc.*
webpack.config.js
.yarnrc

# Uncompiled files
**/*.map
**/*.ts

# Git Ignore file
.gitignore

# Packaged extensions
**/*.vsix

# Log file
**/*.log
